{% extends "padre.html" %}

{% load static %}


{% block contenido %}
<main class="container">
    <h1 class="text-xl-center title"> Listado de profesores </h1>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>especialidad</th>
                <th>Acciones</th> <!-- Agrega una columna para las acciones -->
            </tr>            
        </thead>
        <tbody>
            {% for profesor in profesores %}
            <tr>
                <td>{{ profesor.id }}</td>                
                <td>{{ profesor.nombre }}</td>
                <td>{{ profesor.especialidad }}</td>
                <td>
                    <a href="{% url 'editar_profesor' profesor.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'confirmar_eliminar_profesor' profesor.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}